# === Node ===
node_modules/
package-lock.json


# === Build & Output ===
dist/

# === Environment Files ===
.env

# === Service Account Keys ===
keys/serviceAccount.json

# === IDEs & Editors ===
.vscode/
.qodo/
